<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <dl>
      <dt>Connect</dt>
      <dd>{{glucometer.connect}}</dd>
      <dt>Ready</dt>
      <dd>{{glucometer.ready}}</dd>
      <dt>Strip In</dt>
      <dd>{{glucometer.stripIn}}</dd>
      <dt>Blood</dt>
      <dd>{{glucometer.blood}}</dd>
      <dt>Result</dt>
      <dd>{{glucometer.result}}</dd>
      <dt>Error</dt>
      <dd>
        {{errors[glucometer.error]}}
      </dd>
    </dl>
    <a class="button button-positive button-block" ui-sref="add-measurement">New measurement</a>
    <ion-list>
      <ion-item class="item-divider">
        History
      </ion-item>
      <ion-item ng-repeat="item in measurements | orderBy: item.date : true">
        <span am-time-ago="item.date"></span>
        <span class="item-note" ng-bind="item.value"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
