<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <p>
      iHealth BG1:
      <span ng-if="$root.connected">Connected</span>
      <span ng-if="!$root.connected">Disconnected</span>
    </p>
    <a class="button button-positive button-block" ui-sref="add-measurement">New measurement</a>
    <ion-list>
      <ion-item class="item-divider">
        History
      </ion-item>
      <ion-item ng-repeat="item in measurements | orderBy: item.date : true">
        <span am-time-ago="item.date"></span>
        <span class="item-note" ng-bind="item.value"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
