<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.bondalex.ihealth.bg1" version="0.0.1">
  <name>iHealth BG1</name>
  <description>Bondalex iHealth BG1 Plugin</description>
  <license>Apache 2.0</license>
  <author>Alexey Bondarenko</author>
  <keywords>bondalex,ihealth,bg1</keywords>
  <js-module src="www/ihealth-bg1.js">
    <clobbers target="ihealth.bg1"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Device">
        <param name="ios-package" value="CDVDevice"/>
      </feature>
    </config-file>
    <header-file src="src/ios/lib/AudioBG1Communication.h"/>
    <header-file src="src/ios/lib/BG5.h"/>
    <header-file src="src/ios/lib/BG5Controller.h"/>
    <header-file src="src/ios/lib/BGHeader.h"/>
    <header-file src="src/ios/lib/BGMacroFile.h"/>

    <source-file src="src/ios/lib/iHealthLibrary.a" framework="true"/>

    <source-file src="src/ios/iHealthBG1.m"/>
    <header-file src="src/ios/iHealthBG1.h"/>

    <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
      <array>
        <string>com.jiuan.BGV30</string>
        <string>com.jiuan.BGV31</string>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>external-accessory</string>
      </array>
    </config-file>
  </platform>

</plugin>
